extends layout

block content

  h1= title

  form(method="POST" action='')
    div.form-group
      label(for='first_name') First Name:
      input#first_name.form-control(type='text' name='first_name' placeholder='First name (Christian) last' value=(undefined===author ? '' : author.first_name))
      label(for='family_name') Family Name:
      input#family_name.form-control(type='text' name='family_name' placeholder='family name (Christian) last' value=(undefined===author ? '' : author.family_name))
      label(for='date_of_birth') Date of Birth:
      input#date_of_birth.form-control(type='date' name='date_of_birth' placeholder='mm/dd/yyyy' value=(undefined===author ? '' : author.date_of_birth_formatted))
      label(for='date_of_death') Date of Death:
      input#date_of_death.form-control(type='date' name='date_of_death' placeholder='mm/dd/yyyy' value=(undefined===author ? '' : author.date_of_death_formatted))
    button.btn.btn-primary(type='sumbit') Sumbit

  if errors
    ul
      for error in errors
        li!= error.msg